<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LinearMissile0.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,284},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,235},{23,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>LinearMissile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,309},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,334},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,359},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,260},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile6.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,285},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile7.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,310},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile8.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,335},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile9.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,360},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>Villager.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{45,62}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{45,62}}</string>
                <key>sourceSize</key>
                <string>{45,64}</string>
            </dict>
            <key>background.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{400,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,400}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>block.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,201},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>blockPiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,158},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,66},{1,1}}</string>
                <key>offset</key>
                <string>{-15.5,15.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>floorPiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,236},{46,13}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,13}}</string>
                <key>sourceSize</key>
                <string>{46,45}</string>
            </dict>
            <key>player_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,404},{50,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,66},{58,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,126},{56,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{56,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,404},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,184},{50,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{50,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,404},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,404},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,236},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,286},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{46,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,41},{46,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,119},{46,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,336},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,404},{52,37}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,404},{52,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{52,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,404},{50,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,80},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>rushMonster_move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,277},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,404},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_move3.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,201},{18,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_move4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,385},{20,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{20,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_move5.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,277},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_rush1.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,227},{22,18}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_rush2.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,386},{16,20}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_rush3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,251},{24,22}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_rush4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,386},{24,16}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{24,16}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,301},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,325},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,349},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>rushMonster_stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,373},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,22}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Robotopia.png</string>
            <key>size</key>
            <string>{499,443}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57801a76ae7dcc45e18873b20c86ed42:762a1b2d5deb7b3bb416db94c59232a4:40387c8163e24ac93b5bab61b171c8fd$</string>
            <key>textureFileName</key>
            <string>Robotopia.png</string>
        </dict>
    </dict>
</plist>
