<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{800,402}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,402}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>FloorLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,327},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>FloorLandPiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,80},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FrontBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,410}}</string>
                <key>sourceSize</key>
                <string>{800,410}</string>
            </dict>
            <key>player_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,132},{50,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{58,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,43},{56,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,84},{56,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,171},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,123},{50,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{50,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,203},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,210},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,242},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,249},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,320},{46,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,359},{46,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1645,359},{46,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,281},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{52,37}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,41},{52,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{52,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,164},{50,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,288},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Robotopia.png</string>
            <key>size</key>
            <string>{1721,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36a476ed57f45904b30e8991e499f828:31f5510c929847e49a873a61b75653b5:40387c8163e24ac93b5bab61b171c8fd$</string>
            <key>textureFileName</key>
            <string>Robotopia.png</string>
        </dict>
    </dict>
</plist>
