<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BackBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{800,402}}</string>
                <key>offset</key>
                <string>{0,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,402}}</string>
                <key>sourceSize</key>
                <string>{800,600}</string>
            </dict>
            <key>FloorLand.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,374},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>FloorLandPiece.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,84},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>FrontBackground.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{800,410}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,410}}</string>
                <key>sourceSize</key>
                <string>{800,410}</string>
            </dict>
            <key>LinearMissile0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,224},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,199},{23,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,15}}</string>
                <key>sourceSize</key>
                <string>{25,15}</string>
            </dict>
            <key>LinearMissile2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,249},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,274},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,299},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,324},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,349},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,355},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,355},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>LinearMissile9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1691,374},{23,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,14}}</string>
                <key>sourceSize</key>
                <string>{23,14}</string>
            </dict>
            <key>player_attack1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,136},{50,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{50,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,2},{58,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{58,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,43},{56,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{56,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,80},{56,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{56,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_attack5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,175},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_jump1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,119},{50,39}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{50,39}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,199},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,214},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,238},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,253},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,316},{46,37}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,331},{46,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,374},{46,37}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{46,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,277},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{52,37}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{52,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,41},{52,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{52,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,160},{50,37}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{50,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
            <key>player_walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1606,292},{48,37}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{48,37}}</string>
                <key>sourceSize</key>
                <string>{60,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Robotopia.png</string>
            <key>size</key>
            <string>{1723,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1ca17012e8c0febce56ee5bde29a663:3c5e0bf223bc23d970f30f14c86be3dc:40387c8163e24ac93b5bab61b171c8fd$</string>
            <key>textureFileName</key>
            <string>Robotopia.png</string>
        </dict>
    </dict>
</plist>
