<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{32,18}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{30,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{30,22}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{24,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{30,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{30,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>bat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{32,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bat.png</string>
            <key>size</key>
            <string>{160,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f38b25d752ab77677b8b091176bd109:7652e9a7df230329db59bf1f559d4183:3808b107ac6b3aadbfb96b33e232a46e$</string>
            <key>textureFileName</key>
            <string>bat.png</string>
        </dict>
    </dict>
</plist>
