<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ghost1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>ghost2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,33},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>ghost3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
            <key>ghost4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{24,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,29}}</string>
                <key>sourceSize</key>
                <string>{24,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ghost.png</string>
            <key>size</key>
            <string>{28,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a47008841987074d1a8188a20fb7469:42681e2c849ae56afe45d5747866bd95:8538abdcbd4db339f06a581573008863$</string>
            <key>textureFileName</key>
            <string>ghost.png</string>
        </dict>
    </dict>
</plist>
