<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,64}}</string>
                <key>sourceSize</key>
                <string>{25,64}</string>
            </dict>
            <key>player2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{23,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,64}}</string>
                <key>sourceSize</key>
                <string>{25,64}</string>
            </dict>
            <key>player3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{23,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,64}}</string>
                <key>sourceSize</key>
                <string>{25,64}</string>
            </dict>
            <key>player4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{23,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{23,64}}</string>
                <key>sourceSize</key>
                <string>{25,64}</string>
            </dict>
            <key>player5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{25,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,64}}</string>
                <key>sourceSize</key>
                <string>{25,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_stand.png</string>
            <key>size</key>
            <string>{29,332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ee2ad8d142a174a692788ce2e7b11c0:ff1a9856e46dff725a89e73b5d407fd0:93577b99c1b5d5f6a8c0e5572cd0ae81$</string>
            <key>textureFileName</key>
            <string>player_stand.png</string>
        </dict>
    </dict>
</plist>
