<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_down1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,78}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{46,78}}</string>
                <key>sourceSize</key>
                <string>{96,90}</string>
            </dict>
            <key>jump_high1.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,104},{42,66}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,5},{42,66}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>jump_high2.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,190},{52,64}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{52,64}}</string>
                <key>sourceSize</key>
                <string>{96,72}</string>
            </dict>
            <key>jump_high3.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{54,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,7},{54,72}}</string>
                <key>sourceSize</key>
                <string>{96,84}</string>
            </dict>
            <key>jump_ready1.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,370},{48,56}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,55},{48,56}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>jump_ready2.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,384},{48,52}}</string>
                <key>offset</key>
                <string>{-2,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,59},{48,52}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>jump_ready3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{46,46}}</string>
                <key>offset</key>
                <string>{-4,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,65},{46,46}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>jump_ready4.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,104},{46,64}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,47},{46,64}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>jump_up1.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,58},{36,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,27},{36,68}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>land1.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,56},{46,68}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,43},{46,68}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>land2.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,170},{46,56}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,55},{46,56}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>land3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{46,44}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,67},{46,44}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>land4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{42,58}}</string>
                <key>offset</key>
                <string>{3,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,53},{42,58}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>stand1.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,244},{34,64}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,47},{34,64}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>stand2.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,222},{36,64}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,47},{36,64}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>stand3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{34,64}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,47},{34,64}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>stand4.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,148},{36,66}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,45},{36,66}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>stand5.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,152},{36,66}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,45},{36,66}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>stand6.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,186},{34,66}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,45},{34,66}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>stand7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{36,66}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,45},{36,66}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>stand8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{38,64}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,47},{38,64}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>stand9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{38,64}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,47},{38,64}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,456},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tile_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{32,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tile_back_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,36},{32,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tile_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,398},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tile_side_corner.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,398},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tile_side_lowercorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,420},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>tile_side_uppercorner.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,70},{32,20}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{32,20}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>walk1.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,332},{50,56}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,52},{50,56}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{52,68}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,43},{52,68}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,96},{54,66}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,45},{54,66}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>walk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,260},{54,62}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,49},{54,62}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>walk2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,346},{50,58}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,48},{50,58}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>walk3.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,292},{52,56}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,46},{52,56}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>walk4.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,2},{52,68}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,42},{52,68}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>walk5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{52,66}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,45},{52,66}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>walk6.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,228},{52,62}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,49},{52,62}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>walk7.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,316},{52,60}}</string>
                <key>offset</key>
                <string>{2,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,51},{52,60}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>walk8.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,280},{50,62}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,47},{50,62}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
            <key>walk9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{50,56}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,45},{50,56}}</string>
                <key>sourceSize</key>
                <string>{96,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>slideTest.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2e330be8ad2e65cf0728b12d028dbe9:9ab63a2d2fef1b8032a90e420a85d66b:6a6d2a4bf2f6d236785f62624440b332$</string>
            <key>textureFileName</key>
            <string>slideTest.png</string>
        </dict>
    </dict>
</plist>
